.vs/
.vscode/
GameStateEngine/*.user
Test/GameEngine/Content/bin/
Test/GameEngine/Content/obj/
Test/GameEngine/bin/
Test/GameEngine/obj/
Test/ControllerMenu/Content/bin/
Test/ControllerMenu/Content/obj/
Test/ControllerMenu/bin/
Test/ControllerMenu/obj/
