.vs/
.vscode/
TheBlackRoom.MonoGame/*.user
TheBlackRoom.MonoGame.GameFramework/*.user
TheBlackRoom.MonoGame.GuiToolkit/*.user
Test/ControllerMenuTest/Content/bin/
Test/ControllerMenuTest/Content/obj/
Test/ControllerMenuTest/bin/
Test/ControllerMenuTest/obj/
Test/EventMenuTest/Content/bin/
Test/EventMenuTest/Content/obj/
Test/EventMenuTest/bin/
Test/EventMenuTest/obj/
Test/GameEngineTest/Content/bin/
Test/GameEngineTest/Content/obj/
Test/GameEngineTest/bin/
Test/GameEngineTest/obj/
Test/GuiToolkitDemo/Content/bin/
Test/GuiToolkitDemo/Content/obj/
Test/GuiToolkitDemo/bin/
Test/GuiToolkitDemo/obj/
